/node_modules
/public/hot
/public/argon/vendor
/public/assets/vendor
/public/assets/scss
/public/storage
/storage/
/bootstrap/cache
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
