.night {
  position: fixed; /* 화면 전체 덮기 */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: rotateZ(45deg);
  overflow: hidden;
  z-index: 0; 
}

.shooting_star {
  position: absolute;
  height: 2px;
  background: linear-gradient(-45deg, #5f91ff, rgba(0,0,255,0));
  border-radius: 999px;
  filter: drop-shadow(0 0 6px #699bff);
  animation: tail 3s ease-in-out infinite, shooting 3s ease-in-out infinite;
}

.shooting_star::before, .shooting_star::after {
  content: '';
  position: absolute;
  top: calc(50% - 1px);
  right: 0;
  height: 2px;
  background: linear-gradient(-45deg, rgba(0,0,255,0), #5f91ff, rgba(0,0,255,0));
  transform: translateX(50%) rotateZ(45deg);
  border-radius: 100%;
  animation: shining 3s ease-in-out infinite;
}

.shooting_star::after {
  transform: translateX(50%) rotateZ(-45deg);
}

@keyframes tail {
  0% { width: 0; }
  30% { width: 100px; }
  100% { width: 0; }
}

@keyframes shining {
  0% { width: 0; }
  50% { width: 30px; }
  100% { width: 0; }
}

@keyframes shooting {
  0% { transform: translateX(0); }
  100% { transform: translateX(300px); }
}